/*
  Colors
  dark blue: #255b96
  light blue: #3073b3
  nav gray : #262626
  gray: #c6c1bc
  black: #2a1e28
  red: #901a12
*/

@import url('syntax.css');

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 0.3em;
  line-height: 1.2em;
}

h1 { font-size: 1.7em; line-height: 1.7em; font-weight: 700; }
h1 small { font-weight: 400; font-size: 50%; color: #999; }

h2 { font-weight: bold; }

p { margin: 1em 0; }

table {
  font-size: inherit;
  font: 100%;
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #999;
  padding: 0.4em;
}


/* Common */
a, a:active {
  text-decoration: none;
  color: #494949;
}

a:visited {
  /*color: #3073b3;*/
  color: #494949;
}

a:hover {
  text-decoration: underline;
}

a.discreet {
  color: #222;
}

.fancy, section, article {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 170%;
}

article {
  font-size: 18px;
}

.portfolio-nav {
  text-align: center;
  list-style-type: none;
  margin: 3em 0 2em 0;
}

.portfolio-nav li {
  display: inline-block;
  border: 1px solid #255b96;
  border-right-width: 0;
}

.portfolio-nav .active {
  /*background-color: #3073b3;*/
  background-color: #262626;
}

.portfolio-nav .active a {
  color: white;
}

.portfolio-nav li a {
  width: 5em;
  padding: 0.7em 0.4em;
  display: inline-block;
  text-decoration: none;
}

.portfolio-nav li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.portfolio-nav li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
}

.pull-right { float: right; }
.pull-left { float: left; }
.clear { clear: both; }
.center { text-align: center !important; }
.right { text-align: right; }
.spacer {
  border-top: 1px solid #E6E6E6;
  margin: 3em auto;
}
.without-border {
  border: none;
}

/* Header and navigation */
header {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

header nav {
  float: left;
  padding-top: 14px;
}

.header-container {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;
}

@media(max-width: 400px) {
  .header-container .contact {
    display: none;
  }
}

.separator {
  padding-bottom: 0.8em;
  margin-bottom: 1.4em;
}

header .logo a, header .logo a:hover {
  color: black;
  /*text-decoration: none;*/
}

.logo small em {
  font-weight: 400;
}

.logo .name {
  display: inline-block;
}

.inner, pre code, .post > * {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  display: block;
}

.twitter-tweet.twitter-tweet-rendered {
  margin: 1em auto !important;
}

article .inner {
  padding-top: 1.5em;
  margin-top: -1em;
  color: white;
}

article {
  /*background-color: #3073b3;*/
  background-color: #262626;
}

article .post {
  margin-top: 1em;
  padding-top: 1em;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
}

.post > .highlight {
  max-width: 100% !important;
  word-wrap: break-word;
}

@media (max-width: 700px) {
  .inner, pre code, .post > * {
    margin-left: 18px !important;
    margin-right: 18px !important;
    width: auto !important;
  }
  .post > .highlight {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  header .logo {
    clear: left;
    text-align: center;
    padding-top: 1em;
    float: none;
  }

  header .avatar {
    margin-top: 1em;
    max-width: 80px;
    vertical-align: -20px;
    margin-left: 0
  }

  header .nav {
    float: none;
    text-align: center;
  }
}

nav a {
  display: inline-block;
  margin-right: 1.2em;
  padding-bottom: 0.2em;
  font-weight: normal;
  border-bottom: 3px solid transparent;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  text-decoration: none;
  /*border-bottom: 3px solid #3073b3;*/
  border-bottom: 3px solid #F47414;
}

nav a.selected {
  color: black;
}

nav a.selected:hover {
  border-bottom: none;
}

.avatar {
  max-width: 50px;
  vertical-align: -9px;
}

.links {
  border-top: 1px solid #E6E6E6;
  margin: 1em 0;
  list-style-type: none;
  font-size: 1.4em;
}

.links li {
  padding: 0.5em 0;
}

h1 {
  margin-top: 0;
}

.about-me .speak-french {
  line-height: 3.8em;
}

/* Footer */
footer {
  font-size: small;
  color: #666;
  line-height: 2em;
  color: #858585;
  text-align: center;
  margin: 2em 0;
}

footer p {
  margin: 0;
}

footer .links {
  border: none;
}

footer .links li {
  display: inline;
  padding: 0 0.2em;
}

footer .links a:hover {
  text-decoration: none;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}

ul.posts li {
  margin-bottom: 1.5em;
}

ul.posts .date {
  margin-right: 0.3em;
  display: inline-block;
  color: #666;
  font-family: "Ubuntu Mono";
}

ul.posts .description {
  color: #666;
}

header {
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;
}

header a {
  text-decoration: none;
}

header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

header h1.title a {
  color: #a00;
}

header h1.title a:hover {
  color: #000;
}

article h1 {
  margin-bottom: 8px;
  line-height: 120%;
  text-align: left;
}

article .inner.meta {
  color: #dedede;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 4px;
  padding: 4px 8px;
}
.suggest-translate, .suggest-translate a {
  color: #ddd !important;
  padding-top: 0.5em !important;
}

.convinced { margin: 6em 0 4em 0;}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: rgb(210, 210, 210);
  white-space: pre-wrap;
  padding: .3em 0;
  margin: 1.3em 0;
  color: #111;
  width: 100%;
}

.post pre, .post code, .post pre code {
  font-size: 13px;
  font-family: Courier, monospace;
  background-color: rgb(248, 248, 248);
}

.post code {
  font-size: 18px;
}

.post ul, .post ol {
  padding-left: 2.5em;
}

.post code {
  border: 1px solid #eee;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  line-height: 170%;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-photo {
  height: 24em;
  margin-top: -1.5em;
  margin-bottom: 1.9em;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 8px #999;
  z-index: 2;
}

@media (max-width: 420px) {
  .post-photo {
    height: 13em;
  }
}

figure .two-third {
  max-width: 66%;
}

@media (max-width: 600px) {
  figure .two-third {
    max-width: 100%;
  }
}


/* Quotes */
blockquote {
  margin: 1em 0 1em -1em;
  color: #666;
  /*border-left: 0.4em solid #3073b3;*/
  border-left: 0.4em solid #262626;
  padding-left: 0.6em;
  font-style: italic;
}

.post-footer-self-promotion {
  margin-top: 1.6em;
  margin-bottom: 0.3em;
  font-style: italic;
  margin-top: 4em;
  margin-bottom: 6em;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0 1em;
  background-color: #fefefe;
}
.post-footer-self-promotion img {
  float: left;
  margin-left: -84px;
  margin-top: 16px;
}
.post-footer-self-promotion strong {
  background-color: lightyellow;
}

img.inline.pull-right {
  margin-left: 1em;
}

img {
  max-width: 100%;
}

.french-flag {
  vertical-align: -3px;
  height: 18px;
  margin-left: 0.2em;
}

.suggest-translate {
  font-style: italic;
}

.gist {
  font-size: 0.7em !important;
  line-height: 130% !important;
}
.gist .lines {
  width: 100%;
}

.book-me {
  float: right;
  margin-top: -3px;
}

@media (max-width: 420px) {
  .book-me {
    float: none;
    text-align: center;
    margin: 0 0 1em 0;
  }
  .about-me h1 {
    text-align: center;
  }
  .hello {
    display: none;
  }
}

/* From http://designmodo.github.io/Flat-UI/ */
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  background-color: #255b96;
  color: #ffffff !important;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  /*background-color: #3073b3;*/
  background-color: #262626;
  text-decoration: none;
  cursor: pointer;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.form-control {
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}

/* Register */
.post-footer-self-promotion input {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #CCCCCC;
  color: #555555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 0px 12px;
  border-right: none;
}

.post-footer-self-promotion input[type="email"] {
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px 0 0 4px;
  width: 210px;
}

.post-footer-self-promotion input[type="submit"] {
  background-color: #255b96;
  color: #ffffff !important;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-right: 1em;
}

@media (max-width: 419px) {
  .post-footer-self-promotion input[type="email"] {
    border-right: 1px solid #CCC;
    border-radius: 4px;
  }
  .post-footer-self-promotion input[type="submit"] {
    display: block;
    border-radius: 4px;
    width: 210px;
    margin-top: 1em;
  }
}

.slideshare {
  height: 549px;
  width: 100%;
}

.video-wrapper {
  max-width: 680px;
}
.video-wrapper-inner {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uslide-container {
  max-width: 1000px;
}
