---
layout: master
nav_blog: class="selected"
title: Blog - Maplecoding Consultants Inc.
header_title: blog
header_desc: Here comes the awesome blog
---
<h1>Blog</h1>
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<section class="inner">
  <h1>Blog</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        {% if post.french %}
          <img src="/images/french.png" alt="French post" class="french-flag" title="This post is in french" />
        {% endif %}
        <br />
        <span class="date">{{ post.date | date_to_string }}</span>
        <br />
        <span class="description">{{ post.description }}</span>
      </li>
    {% endfor %}
  </ul>
</section>
